<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="../../css/mystyle.css"
          rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Welcome OIDC Authorization code flow Demo!!</h6>
                    <form class="form-signin" action="/user" method="get">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in using IDP</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>